.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 95vh;
  display: flex;
}

input[type="number"] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #118886;
  border-radius: 20px;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: center;
}
